
<div>
  <table>
    <td></td><td></td>
    <td>User Name: </td><td><input type="text" size=5></td>
    <td>Password: </td><td><input type="password" size=5></td>
    <td>Email: </td><td><input type="text" size=5></td>
    <td></td><td></td>
  </table>
</div>
