
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
	
	<title>JUST - Room325</title>
</head>


<div id="header">

  <div id="top_nav_info">
		<%= link_to "Home", articles_path %> | 
		About Us | 
		News | 
		Contact | 
		Links 
	</div>

  <div id="top_login_info">
    <% if session[:login] %>
      <%= session[:user] %>
    <% end %>
  </div>
</div>

